<%= form_for @zoo, :url => { :controller => 'zoos', :action => 'create' } do |f| %>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>

    <%= f.label :age, "Age" %>
    <%= f.text_field :age %>

    <%= f.submit "Create" %>
<% end %>
